<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="form-container">
      <form action="" method="POST">
        <label for="vehicletype">
          Vehicle Type
          <input type="text" name="vehicletype" />
        </label>
        <label for="NumberofRides">
          Number of Rides
          <input type="text" name="NumberofRides" />
        </label>
        <label for="CarPlateNumber">
          Car Plate Number
          <input type="text" name="CarPlateNumber" />
        </label>
        <label for="AvailabilityStatus">
          Availability Status
          <input type="text" name="AvailabilityStatus" />
        </label>

        <button type="submit"><strong>Add</strong></button>
      </form>
    </div>
  </body>
</html>
