<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cab</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="row">
      {% for i in content%}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Name:{{i[1]}}</h5>
            <h6>Vehicle type : {{i[2]}}</h6>
            <p class="card-text"></p>
            <a
              href="{{ url_for('bookride', driverID=i[0]) }}"
              class="btn btn-primary"
              >Book Ride</a
            >
          </div>
        </div>
      </div>

      {%endfor%}
    </div>
  </body>
</html>
