<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='ride.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="rides">
        <p><strong>Total rides :</strong></p>
        <p><strong> Date : </strong>{{content['total_rides'][0]}}</p>
        <p><strong>Rides :</strong> {{content['total_rides'][1]}}</p>
      </div>
      <div class="cost">
        <p><strong>Total Cost :</strong></p>
        <p><strong> Date : </strong>{{content['costdetails'][0]}}</p>
        <p><strong>Cost :</strong>{{content['costdetails'][1]}}</p>
      </div>
    </div>

    <div class="row">
      {% for i in content['rides']%}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <p>ID : {{i[0]}}</p>
            <p>Source : {{i[1]}}</p>
            <p>Destination :{{i[2]}}</p>
            <p>Driver ID : {{i[3]}}:</p>
            <p>Date : {{i[4]}}</p>
          </div>
        </div>
      </div>

      {%endfor%}
    </div>
    </div>
  </body>
</html>
